@page
@model WebApplication11.AboutUSModel
@{
    ViewData["Title"] = "About US";
}

    <div>
        <div id="aboutUs">
            <h3 class="aboutH">@ViewData["Title"]</h3>
            <p>
                The popularity of travel today is extremely large, but each person must have encountered difficulties in finding a suitable travel agency.

                Travel agency ITS Touristik in the market since 2015, and until recently had the name BAUER TOUR. We work in Almaty and provide quality relaxation to hundreds of customers. The choice of our company is justified for many reasons, which we will consider in more detail.
            </p>
            <h3 class="aboutH">Safety guarantee</h3>
            <p>
                Choosing us, you can be sure of the safety of travel, and also get the opportunity to plan everything ahead.
                Proven travel agencies for years, as well as insurance companies.
                Preliminary execution of the necessary official documentation, which only confirms our professionalism.
                Travel safety is confirmed by the issuance of Turkoda from Touristik Kamkor.
                Each of our clients receives a personal manager who is in touch at any time of the day and seven days a week.
                ITS Touristik is included in the state register of travel agents of Kazakhstan.
            </p>
            <h3 class="aboutH">Convenience</h3>
            <p>
                Absolutely the entire cycle of organizing your vacation, from the selection of the best option for the tour and ending with paper design - this is the work of our company!
                The ability to arrange a trip online, and all issues will be resolved over the phone.
            </p>
        </div>
    </div>
    <style>
        #footer{
            top:585px;
        }
    </style>


